*{
    padding: 0;
    margin: 0;
}
.top{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Tilt Warp', cursive;
    margin: 20px 0;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boardbox{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    height: fit-content;
    width: fit-content;
    background-color: rgb(20, 20, 20);
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    row-gap: 5px;
    column-gap: 5px;
}
.block{
    height: 120px;
    width: 120px;
    background-color: white;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.block:hover{
    background-color: rgba(244, 227, 227, 0.694);
}
.reset{
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    margin: 20px 0;
    font-size: 18px;
    border: none;
    color: rgb(59, 1, 1) ;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.reset::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(9, 155, 246);
    z-index: -1;
    transition: ease-in-out 1s;
}
.reset:hover::before{
    width: 100%;
    color: white;
}
.secmode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result{
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 10px;
}
.singleplayer{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    margin-right: 20px;
}
.singleplayer::before{
    position: absolute;
    content: '';
    background-color: greenyellow;
    width: 100%;
    height: 0%;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s;

}
.singleplayer:hover::before{
    height: 100%;
}

.multiplayer{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}
.multiplayer::before{
    position: absolute;
    content: '';
    background-color: rgb(255, 220, 47);
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s;

}
.multiplayer:hover::before{
    height: 100%;
    left: 0;
}
@media (width <= 400px) {
    .board{
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 80px 80px 80px;
    } 
    .block{
        height: 80px;
        width: 80px;  
    }
    .top{
        font-size: 20px;
    }
    .reset{
        font-size: 10px;
        padding: 5px 10px;
    }
    .singleplayer{
        font-size: 10px;
        padding: 5px 15px;
    }
    .multiplayer{
        font-size: 10px;
        padding: 5px 15px;
    }
}